[Unit]
Description=NVMesh(r) Service
After=network.target

[Service]
ExecStart=/opt/nvmesh/upgradeagent/dist/upgradeagent
SyslogIdentifier=upgradeagent
Restart=on-failure
RestartSec=5s
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target